<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1>All products</h1>

  <ul>
  <%@products.each do |product| %>
  <li> <a href="/products/<%=product.id%>"><%=product.title%></a></li>
  <% end %>
  </ul>


  </body>
</html>
