.blue {
  background-color: blue;
  border: 3px solid red;
}

#red {
  background-color: red;
}

.green {
  background-color: green;
  border: 3px solid blue;
}

.box {
  margin: 10px;
}

h3.direction {
  padding: 20%;
}


#top {
  position: absolute;
  top: 350;
  left: 350;
}

#top {
  position: absolute;
  top: 400;
  left: 500;
}
