<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="main-container">
      <h1>Sandwiches</h1>

      <%@sandwiches.each do |sandwich|%>
      <div class=button> <%= link_to sandwich.name, sandwich_path(sandwich.id) %> </div>
      <% end %>

      </ul>
    </div>

  </body>
</html>
