<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<div class="main-container">
  <h1>About Sandwiches...</h1>
  <p>
    Click <%= link_to "here", sandwiches_path %> to see all our delicious sandwiches..
  </p>
</div>

  </body>
</html>
