<h1>Hi</h1>

<a href="http://www.animatedimages.org/cat-hello-523.htm"><img src="http://www.animatedimages.org/data/media/523/animated-hello-image-0025.gif" border="0" alt="animated-hello-image-0025"/></a>
