<h1>Log-in with a secure password</h1>

<form action="/logged_in" method="POST">
<input type="email" name="username" placeholder="username">
<input type="password" name="password" placeholder="password">
<button type="submit">LOG IN</button>
</form>
