<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
       <link rel="stylesheet" type="text/css" href="./home.css">
    <title> Birthdays </title>
  </head>
  <body>
    <h1> Birthdays </h1>

    <div id="list">
    <ul>
      <%for i in 0...@posts.length do%>
        <a href="/post_details/<%=i%>"> <%= @posts[i].title %> </a>
        <br>
      <% end %>
    </ul>
    </div>

  </body>
</html>
