<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
       <link rel="stylesheet" type="text/css" href="./home.css">
    <title> My blog</title>
  </head>
  <body>
    <h1> My articles </h1>

    <div id="list">
    <ul>
      <% @posts.each do |post| %>
        <li><%= post.title %></li>
      <% end %>
    </ul>
    </div>
    
  </body>
</html>
