<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
       <link rel="stylesheet" type="text/css" href="../home.css">
    <title> Post details </title>
  </head>
  <body>
    <h1 class="top"> <%=@posts[@number.to_i].title%>  </h1>
    <h2>by <%=@posts[@number.to_i].author%></h2>

    <h3> <%=@posts[@number.to_i].text%> </h3>
    <h4><%=@posts[@number.to_i].category%></h4>

<a class="button" href="/"> Back to all articles </a>

  </body>
</html>
