<h1>Contact list</h1>
<h3>alphabetical order</h3>

<ul>
  <%@contacts.each do |contact| %>
    <li> <a href="/contacts/<%=contact.name%>"><%=contact.name %></a></li>
  <%end %>
</ul>

<h2><a href="/contacts/new">Add a new contact</a></h2>
