<h1>Contact information</h1>
<h2><%=@name%></h2>

<div class="contact-info">
<p>Address: <%=@contact.address%> </p>
<p>Phone number: <%=@contact.phone_number%> </p>
<p>Email address: <%=@contact.email_address%> </p>
</div>

<a href="/contacts">Back to all contacts</a>
