<html>
<head>
   <link rel="stylesheet" type="text/css" href="about.css">
</head>

<body>
<h1> Valentine </h1>

<h2> VBM, it's me. </h2>

<%= Date.today %>
<% if 1 == 2%>
  <h3> 1 equals 2 </h3>
<% else %>
  <h3> We are safe coz 1 does not equal 2 </h3>
<% end %>


</body>


</html>
