<html>
<head>
   <link rel="stylesheet" type="text/css" href="time.css">
</head>


<h1> This is the time <strong> now </strong> :</h1>
<h2> <%= @timeclear %> </h2>

<img src="/unicorn.png" alt="The most beautiful unicorn in the world">
