<h1>Welcome to the awesome calculator</h1>
<h2>Here you can add two numbers</h2>

<form action="/calculate" method="post">
  <input type="text" name="first_num" placeholder="First Number">
  <input type="text" name="second_num" placeholder="Second Number">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <button type="submit" name="button">Add</button>

</form>

<%= link_to "Back to the homepage", "/"%>
