<h1>Welcome to my awesome rails web application</h1>

<img class="jumping-computer" src="http://www.animatedimages.org/data/media/523/animated-hello-image-0025.gif" border="0" alt="animated-hello-image-0025"/>


<%= link_to "Take me to the calculator", calculator_path%>
<%= link_to "Take me to my projects", projects_path%>
