<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


  <h1> What movie do you want to watch? </h1>

    <form action="/search" method="POST">

      <input type="text" name="keywords" placeholder="keywords">
    
      <button class= "button" type="submit">SEARCH</button>

    </form>

</body>
</html>
