
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Here are your results</h1>

    <% @results.each do |item| %>
      <li><%= item.title%></li>
    <% end %>

  </body>
</html>
