<!DOCTYPE html>
<html>
<head>

</head>
<body>

  <h1>Login</h1>

<form action="/login" method="POST">
  <input type="check" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button type="submit">LOG IN</button>
</form>

</body>
</html>
