<form class="" action="/users" method="post">
  <input type="text" name="email" placeholder="email address">
  <input type="text" name="password" placeholder="password">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <button type="submit" name="button">Login</button>
</form>
